@media (max-width: 1200px) {
  .navbar>.container .navbar-brand.serviceMenu__logo-link {
    margin-left: 0px;
  }

  .serviceMenu__link {
    font-size: 12px;
  }

  .algorithm {
    padding-top: 70px;
  }

  .algorithm_text {
    margin-top: 10px;
    font-size: 16px;
  }

  .algorithm_row {
    margin-top: 30px;
  }

  .btn_top {
    font-size: 16px;
    padding: 16px 55px;
    margin-top: 24px;
  }

  .cont1_1 {
    position: relative;
    padding-top: 10px;
  }

  .thanks {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .thanks_text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .thanks_signature {
    font-size: 16px;
  }

  .thanks_customer__name {
    font-size: 20px;
  }

  .thanks_customer {
    padding-bottom: 20px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 155px;
  }

  .footer_item p {
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 0;
  }

  .footer_item img {
    margin: 0px auto 20px;
    display: block;
    width: 70px;
  }

  .guarantee__image {
    height: 250px;
    margin-bottom: 20px;
  }

  .guarantee__title {
    text-align: left;
  }

  .top_mail {
    padding: 6px 0px 6px 30px;
  }

  .cont1_1:before {
    left: 630px;
  }

  .ne_nashli {
    padding: 20px 10px;
  }

  .ne_nashli_btn {
    padding: 9px 30px;
  }

  .first_desc {
    font-size: 16px;
  }

  h2 {
    font-size: 22px;
  }

  .care_p1 {
    font-size: 16px;
  }

  .more_info1 {
    width: 100%;
  }

  .s_block p {
    font-size: 14px;
  }

  .article-preview p {
    min-height: 120px;
    font-size: 16px;
  }

  .sp-left {
    height: 595px;
  }

  .sp .sign {
    position: absolute;
    right: 70px;
    bottom: 137px;
    width: 150px;
  }

  .sp .btn_top {
    margin-top: 60px;
  }

  .cont1_1:before {
    display: none;
  }

  .glav_sert {
    display: none;
  }

  .phone_online,
  .phone_number a,
  .phone_perezvon {
    color: #333 !important;
  }

  .open_img {
    display: none;
  }

  .more_info1 {
    padding: 25px 10px;
  }

  .more_info1 h3 {
    margin-top: 0px;
  }

  .ne_nashli {
    padding: 20px 20px;
  }

  .ne_nashli_form {
    padding-left: 0px;
    padding-right: 0px;
  }

  .nn_btn_cont {
    margin-top: 15px;
    min-height: 45px;
  }

  .ne_nashli_btn {
    width: 100%;
  }

  .ne_nashli:before {
    opacity: 0.5;
  }

  .c2_h {
    margin-top: 36px;
  }

  .team_col img {
    width: 80%;
  }

  .team_p1,
  .team_p2 {
    font-size: 12px;
  }

  .speech {
    text-align: center;
    margin-top: 50px;
  }

  .modal-body-img {
    background-image: url(../img/price_left_tr.png);
  }

  .modal-body {
    text-align: center;
  }

  #modalPrice .modal-body {
    text-align: left;
  }

  .modal_input {
    float: none;
  }

  .modal-body .btn_top {
    float: none;
    margin: 20px auto 0px;
    width: 300px;
  }

  .row3 {
    padding: 70px 0px 0;
  }

  .sp h3 {
    margin-top: 0px;
    font-size: 24px;
  }

  .img-fluid {
    display: none;
  }

  .row-faq {
    padding: 70px 0 0;
    display: block;
  }

  .feedback-c {
    margin: 0;
  }

  h3.footer_textpopup {
    font-size: 22px;
  }

  p.footer_textpopup {
    font-size: 16px;
  }

  .thanks-space {
    height: 20px;
    margin-top: 40px;
  }

  .row-footer {
    padding: 70px 0;
  }

  footer.bg {
    padding-top: 0;
  }

  .feedback-c.bg {
    background: none;
    background-image: none;
  }

  .bottom-menu__link, .bottom-menu__link:hover {
    font-size: 12px;
  }

  .bottom-menu__link,
  .bottom-menu__link:hover {
    height: 25px;
  }

  .bottom-menu-wrapper {
    padding: 15px 0;
    margin-bottom: 25px;
  }

  .footer-bottom .mailLink--bottom,
  .footer-bottom .top_address--bottom {
    display: block;
    font-size: 12px;
  }

  /* .footer-bottom .top_phone--bottom,
  .footer-bottom .top_address--bottom {
    padding-top: 5px;
  } */

  .btn_top.btn_feedback {
    font-size: 16px;
    padding: 10px 55px;
    margin-top: 15px;
  }
  .guarantee__row {
    display: flex;
    flex-direction: column;
  }

  .top_address__computer {
    display: none;
  }

  .top_address__laptop {
    display: block;
  }

  .socweb {
    margin-bottom: 5px;
  }

  .top_desc {
    font-size: 12px;
  }

  .hiddenPhone,
  .top_telephone .telephone_link {
    width: 140px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .hidden-on-mobile {
    display: none;
  }

  .cont1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .socweb {
    margin-bottom: 10px;
  }

  .mailLink_top.mailLink--bottom.mail-bottom_mobile.socweb {
    display: none;
  }

  .top_desc,
  .top_address,
  .top_phone {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
  }

  .top_mail {
    display: none;
  }

  h1 {
    padding-right: 0px;
    text-align: center;
  }

  .first_desc {
    text-align: center;
  }

  .utp {
    text-align: center;
  }

  .btn_top {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .more_info1 {
    text-align: center;
  }

  .more_info1 .col-sm-4 {
    width: 50%;
    float: left;
  }

  .more_info1 .btn_top {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .btn_transparent {
    float: none;
  }

  .ne_nashli {
    max-width: 410px;
    text-align: center;
    margin: 0px auto;
  }

  .search_cont {
    max-width: 410px;
    text-align: center;
    margin: 0px auto;
  }

  .team_col {
    margin-bottom: 20px;
  }

  .footer_item {
    margin-bottom: 40px;
  }

  .article-preview {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-slider .slider_cont:before {
    display: none;
  }

  .teamName {
    background: rgba(0, 0, 0, 0.32)
  }

  .sp-left {
    width: 100%;
    height: 530px;
  }

  .sp {
    float: right;
    width: 100%;
  }

  .sp .btn_top {
    margin-top: 90px;
  }

  .serviceMenu__container .navbar-header {
    display: block;
  }

  h1 {
    font-size: 20px;
  }

  .first_desc {
    font-size: 14px;
  }

  .utp_text {
    font-size: 11px;
  }

  .section .gallery-img {
    height: 150px;
  }

  .algorithm_row {
    display: flex;
    flex-direction: column;
    margin: 10px 60px 10px 30px;
  }

  .algorithm_arrow,
  .algorithm_img {
    display: none;
  }

  .algorithm_step {
    width: 100%;
  }

  .algorithm_text {
    text-align: left;
    margin: 0;
  }

  .guarantee__image {
    height: 180px;
  }

  .thanks__title {
    text-align: left;
    padding-bottom: 10px;
  }

  .thanks_text {
    font-size: 14px;
  }

  .thanks_face {
    width: 80px;
    height: 80px;
  }

  .thanks_customer__name {
    font-size: 16px;
  }

  .thanks_signature {
    font-size: 14px;
  }

  .faq {
    padding: 0;
  }

  h2 {
    font-size: 20px;
  }

  .row-footer h2 {
    margin-bottom: 20px;
  }

  .footer_item {
    margin-bottom: 20px;
  }

  .footer_item img {
    width: 40px;
    float: left;
    display: inline;
  }

  .footer_item p {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    padding-left: 60px;
  }

  .row-footer {
    padding: 70px 0 30px;
  }

  p.footer_textpopup {
    font-size: 14px;
  }

  .bottom-menu {
    display: flex;
    flex-direction: column;
  }

  .bottom-menu__item {
    margin-bottom: 10px;
  }

  .top_telephone {
    text-align: left;
    padding: 0;
  }

  .telephone_link {
    font-size: 14px;
  }

  .top_telephone__mobile {
    display: block;
  }

    .bottom-menu-wrapper {
    display: none;
  }

  .top_telephone-link {
    text-align: right;
  }

  .hiddenPhone,
  .top_telephone .telephone_link {
    width: 140px;
    font-size: 14px;
  }

  .mailLink_top.mailLink--bottom.mail-bottom_mobile.socweb {
    font-size: 14px;
  }

  .top_telephone {
    justify-content: end;
  }

  .socweb {
    margin-bottom: 0;
  }

  .navbar-top-wrap {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
  }

  .bg {
    padding-bottom: 80px;
  }

  .serviceMenu {
    top: 70px;
  }
}

@media (min-width: 340px) and (max-width: 767.9px) {
  .navbar-top-wrap .cont1 {
    flex-direction: row;
    align-items: center;
  }

  .navbar-top-wrap .top_phone {
    margin-top: 0;
  }

  .navbar-top-wrap .mailLink {
    color: rgb(51, 51, 51);
  }

  .serviceMenu {
    top: 40px;
  }

  .top_telephone {
    align-items: center;
  }

  .tel_logo {
    margin-top: 0;
  }

  .tel_logo--Whatsapp {
    height: 25px;
    margin-top: 0;
  }

  .hiddenPhone {
    width: 110px;
    font-size: 14px;
  }

  .top_telephone .telephone_link {
    align-items: center;
    width: 110px;
  }
}

/* @media (max-width: 348px) {

  .telephone_link {
    font-size: 16px;  
  }

  .mailLink {
    font-size: 9px;
  }

  .top_address__laptop {
    font-size: 9px;
  }

  .telephone_link_bot {
    font-size: 16px;  
  }

  .footer-bottom .mailLink--bottom, .footer-bottom .top_address--bottom {
    font-size: 9px;
  }
} */
