.p-5{min-height:5px;padding-top: 5px;}.p-10{min-height:10px;padding-top: 10px;}.p-15{min-height:15px;padding-top: 15px;}.p-20{min-height:20px;padding-top: 20px;}.p-25{min-height:25px;padding-top: 25px;}.p-30{min-height:30px;padding-top: 30px;}.p-35{min-height:35px;padding-top: 35px;}.p-40{min-height:40px;padding-top: 40px;}.p-45{min-height:45px;padding-top: 45px;}.p-50{min-height:50px;padding-top: 50px;}.p-55{min-height:55px;padding-top: 55px;}.p-60{min-height:60px;padding-top: 60px;}.p-65{min-height:65px;padding-top: 65px;}.p-70{min-height:70px;padding-top: 70px;}.p-75{min-height:75px;padding-top: 75px;}.p-80{min-height:80px;padding-top: 80px;}.p-85{min-height:85px;padding-top: 85px;}.p-90{min-height:90px;padding-top: 90px;}.p-95{min-height:95px;padding-top: 95px;}.p-100{min-height:100px;padding-top: 100px;}.p-105{min-height:105px;padding-top: 105px;}.p-110{min-height:110px;padding-top: 110px;}.p-115{min-height:115px;padding-top: 115px;}.p-120{min-height:120px;padding-top: 120px;}.p-125{min-height:125px;padding-top: 125px;}.p-130{min-height:130px;padding-top: 130px;}.p-135{min-height:135px;padding-top: 135px;}.p-140{min-height:140px;padding-top: 140px;}.p-145{min-height:145px;padding-top: 145px;}.p-150{min-height:150px;padding-top: 150px;}.p-155{min-height:155px;padding-top: 155px;}

html {
    overflow-x: hidden;
}

body {
    /* background: #fbfbfb; */
    font-family: 'PTSans', sans-serif;
}

.btn, .team_col img {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.mainNav li > a {
    line-height: 29px!important;
}


/* .navbar {
    min-height: 60px;
    transition: all .3s ease;
} */

/* .navbar.out {
    transform: translateY(-100%);
} */

/* .navbar-brand {
    height: 60px;
} */

.navPhone {
    width: 30px;
}

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}


.navLogo {
    width: 200px;
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -100px;
    top: 11px;
}

.navLogo a img {
    width: 100%;
}


.navLogo a {
    width: 100%;
    float: left;
}

.mainNavLogo {
    width: 200px;
    position: relative;
    display: block;
    float: left;
    padding: 10px 0px;
    margin-right: 30px;
}

.mainNavLogo a img {
    width: 100%;
}


.mainNavLogo a {
    width: 100%;
    float: left;
}





@charset "UTF-8";

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-500%, 0, 0);
    transform: translate3d(-500%, 0, 0);
    visibility: visible;
  }

  40% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-500%, 0, 0);
    transform: translate3d(-500%, 0, 0);
    visibility: visible;
  }

  40% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
  }
}


/* .anim-btn {
  position: relative;
  overflow: hidden;
}


.anim-btn:after {
  content: '';
  width: 161px;
  height: 70px;
  position: absolute;
  opacity: 0.8;
  top: 0px;
  right: -161px;
  background: url(../img/blick.png);
  -webkit-animation-duration: 3s!important;
  animation-duration: 3s!important;
  -webkit-animation-fill-mode: both!important;
  animation-fill-mode: both!important;
  -webkit-animation-iteration-count: infinite!important;
  animation-iteration-count: infinite!important;
  -webkit-animation-delay: 2s!important;
  animation-delay: 2s!important;
  -webkit-animation-name: slideInLeft!important;
  animation-name: slideInLeft!important;
}




@media (prefers-reduced-motion) {
  .anim-btn:after {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
} */





.row1 {
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}

.btn {
    outline: none!important;
}

.cl {
    clear: both;
}

.no-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.cont1 {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.logo {
    width: 154px;
    height: 66.86px;
    float: left;
}

.top_desc {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    width: 500px;
    float: left;   
    padding: 8px 0px 8px 0;
    margin-bottom: 0px;
}

.top_desc--bottom {
    color: #fff;
}

.top_desc span {
    font-weight: 600;
}

.top_mail {
    font-weight: 600;
    font-size: 15px;
    color: #333;
    padding: 6px 0px 6px 60px;
    float: left;
}

.mailLink {
    position: relative;
    color: #333;
    text-decoration: none;
    padding-left: 24px;
    float: right;
}

.mailLink_top {
    padding-top: 5px;
}

.mailLink--bottom,
.mailLink--bottom:hover,
.mailLink--bottom:focus,
.mailLink--bottom:active {
    font-size: 14px;
    color: #fff;    
}

.mailLink img {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 14px;
    height: 14px;
    margin-top: -7px;
}

.whatsappLink {
    position: relative;
    color: #333!important;
    text-decoration: none;
    padding-left: 24px;
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
}

.whatsappLink img {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 14px;
    height: 14px;
    margin-top: -7px;
}

.top_address {
    float: right;
    text-align: right;
    padding-top: 5px;
    padding-left: 50px;
}

.top_address--bottom {
    font-size: 14px;    
    color: #fff;
}

.top_phone {
    float: right;
    text-align: right;
}

.phone_online {
font-size: 13px;
font-weight: 300;
color: #333;
margin-bottom: 0px;
}

.phone_online span {
    color: #41e664!important;
}

.phone_number {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: -3px;
}

.phone_number a {
    color: #333!important;
}

.phone_perezvon {
    color: #333;
    font-size: 16px;
    margin-bottom: 0px;
    background: url(../img/dashed.png) bottom left repeat-x;
    width: 180px;
    margin: 0px auto;
    padding-bottom: 0px;
    cursor: pointer;
    font-weight: 500;
}



.serviceMenu {
    width: 100%;
    padding: 15px 0;
    /* background: rgb(248, 248, 250); */
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 0;
    border: none;
}

.serviceMenu__logo-link {
    padding: 0;
    margin-right: 20px;
}

.serviceMenuDropdown {
    float: left;
    width: 16.6%;
    text-align: center;
}
.smLink {    
    text-align: center;
    line-height: 40px;
    color: #333!important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.serviceMenu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.serviceMenuDropdown a {
    width: 100%;
}

.dropdown-menu > li > a {
    padding: 13px 20px!important;
    font-weight: 600!important;
}






















.cont1_1 {
    position: relative;
    padding-top: 40px;
}

.ne_nashli_form  .col-md-6 .iti {
    margin-top: 0px!important;
}

h1 {
    font-size: 34px;
    font-weight: 400;
    margin-top: 25px;
    padding-right: 50px;
}

h1 span {
    font-weight: 700;
}


.first_desc {
    font-size: 20px;
    font-weight: 400;
    padding-right: 10px;
}


.glav_sert {
    margin-left: -20px;
}

.utp {
    padding: 0px;
    padding-top: 22px;
}

.utp_text {
    font-size: 14px;
    padding-top: 10px;
}

.utp_text span {
    font-weight: 700;
}

.btn_top {
    background-color: rgba(48, 153, 233, 1);
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    padding: 19px 55px;
    border: none;
    margin-top: 24px;
    border-radius: 20px;
}


.btn_top:hover, .btn_top:active, .btn_top:visited {
    color: #fff!important;
    border-bottom: 0px solid #14629e;
    background-color: rgba(48, 153, 233, 0.9);
}

.btn_top:focus {
    color: #fff!important;
}





/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .btn_top {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff49b0ff",endColorstr="#ff1681d3",GradientType=0);
    }
}



.row2 {
    padding-top: 10px;
    padding-bottom: 60px;
}



h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0px;
}

h2 span {
    font-weight: 600;
}

.h2_desc {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 7px;
}

.slider_cont {
    margin-top: 50px;
}

/* .swiper-container {
    padding-right: 45px!important;
    padding-left: 45px!important;
} */

.s_block p {
     text-align: center;
    font-size: 14px;
    color: #333;
    padding: 0px 10px;
    font-weight: 600;
}

.s_block img {
    width: 100px;
    margin: 0px auto;
    display: block;
    cursor: pointer;
}

.s_block a {
     text-align: center;
    width: 100%;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.c2_h {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 7px;
}

.search_input {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 60px 10px 20px;
    border-radius: 100px;
    border: 1px solid #3099e9;
    width: 100%;
    float: left;
    outline: none;
}

.search_btn {
    height: 42px;
    width: 60px;
    margin-left: -60px;
    border-radius: 100px;
    border: none;
    float: left;
    margin-top: 1px;
    background-image: url(../img/search.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
    outline: none;
}


.search_btn_load {
    background-image: url(../img/load.gif);
    background-size: 100%;
    }

.search {
    width: 100%;
    margin: 10px auto;
    float: left;
}

.load {
    padding: 10px 0px;
    margin: 0px auto;
    display: block;
}
#more_info1 {
display: none;
}

.download {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.download img {
    width: 30px;
    vertical-align: bottom;
    margin-right: 5px;
}






.more_info1 {
    width: 950px;
    margin: 0px auto;
    padding: 35px 0px 35px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ececec;
    margin-top: 50px;
    box-shadow: 0px 15px 30px -11px #e6e6e6;
}


h3, .h3 {
    font-size: 32px;
}

.open_img {
     width: 260px;
    margin: 0px auto;
    display: block;
    border: 1px solid #c7c7c7;
}


.usl-p1 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.usl-p2 {
    font-size: 30px;
    font-weight: 600;
}



.more_info1 .btn_top {
    padding: 13px 30px;
    font-weight: 400;
    border-bottom: 3px solid #14629e;
    box-shadow: 0px 5px 16px rgba(20, 98, 158, 0.68);
    float: left;
    margin-right: 30px;
    font-size: 18px;
}


.more_info1 .btn_top:hover, .more_info1 .btn_top:focus, .more_info1 .btn_top:active, .more_info1 .btn_top:visited {
     color: #fff!important;
    border-bottom: 0px solid #14629e;
    margin-top: 27px;
    box-shadow: 0px 0px 16px rgba(20, 98, 158, 0.68);
}

.btn_transparent {
    padding: 13px 0px;
    font-size: 18px;
    margin-top: 24px;
    background: no-repeat;
    float: left;
    font-weight: 400;
    text-decoration: underline;
}


.btn_transparent:hover, .btn_transparent:focus, .btn_transparent:active, .btn_transparent:visited {
box-shadow: none;
}

.ne_nashli {
     position: relative;
    background-color: #49b0ff;
    background-image: url('../img/bg_nashli.png');
    padding: 30px 10px;
    border-radius: 10px;
}

.ne_nashli:before {
    content: '';
    position: absolute;
    width: 129px;
    height: 111px;
    background: url(../img/sert_mini.png);
    left: 0px;
    bottom: 0px;
}

.ne_nashli_p1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 500;
}

.ne_nashli_p2 {
color: #fff;
margin-bottom: 20px;
}




.ne_nashli_input {
     width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #cfcfcf;
    box-shadow: inset 1px 3px 12px rgba(51, 51, 51, 0.27);
}

.ne_nashli_btn {
    background-color: #f99e38;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjhhZjNjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmOThjMzMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(248, 175, 60)),color-stop(1, rgb(249, 140, 51)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(248, 175, 60) 0%,rgb(249, 140, 51) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(248, 175, 60) 0%,rgb(249, 140, 51) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(248, 175, 60) 0%,rgb(249, 140, 51) 100%);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 9px 51px;
    border-radius: 100px;
    border: none;
    border-bottom: 3px solid #d66721;
    margin-top: 0px;
    box-shadow: 0px 2px 15px rgb(255, 154, 37);
    letter-spacing: 0.5px;
        text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.28);
}


.ne_nashli_btn:hover, .ne_nashli_btn:focus, .ne_nashli_btn:active, .ne_nashli_btn:visited {
    color: #fff!important;
    border-bottom: 0px solid #d66721;
    margin-top: 3px;
    box-shadow: 0px 0px 10px rgb(255, 154, 37);
}

.guarantee__title {
    text-align: left;
    margin-top: 0;
}

.guarantee__image {
    display: flex;
    width: 100%;
    height: 100%;
    background: url('../img/team.jpg'); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -40px;
    background-size: 100%;
}

@media (max-width: 992px) {
    .guarantee__image {        
        height: 250px;
        margin-bottom: 20px;
    }

    .guarantee__title {
        text-align: left;
    }
}

@media (min-width: 993px) {
    .guarantee__row {
        display: flex;
    }
}

.guarantee__list {
    padding-left: 1.5em;
}

.row3 {
    padding: 100px 0px 0;
}

.kuz_label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background: url(../img/kuzmin_label.png);
    width: 268px;
    height: 80px;
    margin-bottom: 30px;
    margin-left: 8px;
    padding-top: 15px;
}


.kuz_label span {
font-size: 14px;
font-weight: 400;
}

.care_p1 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

.care_p1 a {
    color: inherit;
    text-decoration: underline;
}

.care_p1 a:hover {
    text-decoration: none;
}


.care_p2 {
    font-size: 16px;
    color: #f5f5f5!important;
}


.care_p2 span {
    text-decoration: underline;
    font-size: 18px;
}


.care_p2:hover, .care_p2:hover span {
    text-decoration: none;
}


.modal-body-img {
    padding: 30px;
    background-image: url(../img/price_left.png);
    background-repeat: no-repeat;
    background-color: #fbfbfb;
    background-position: left center;
    border-radius: 10px;
    background-size: contain;
}

.price_p {
        font-size: 16px;
    font-weight: 700;
    color: #525252;
}



.modal-body .btn_top,
.btn_top--call {
    padding: 13px 30px;
    font-weight: 400;
    float: left;
    margin-right: 30px;
    font-size: 18px;
}


.modal-body .btn_top:hover, .modal-body .btn_top:focus, .modal-body .btn_top:active, .modal-body .btn_top:visited {
     color: #fff!important;
    border-bottom: 0px solid #14629e;
}

.modal_input {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 26px;
    border-radius: 0;
    border: 1px solid #3099e9;
    width: 300px;
    float: left;
    outline: none;
    margin-top: 10px;
    resize: none;
}

.modal_form_search {
    width: 300px;
    margin: 0px auto 20px;
}

.modal_form_search .btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}

/* .vbackground {
    background: url('../img/vbackground.png');
    background-repeat: no-repeat;
    background-size: cover; 
} */

.quastionandcommunication {   
    background-repeat: no-repeat;
    background-size: cover;
}


.row-faq {
    padding: 100px 0 0;
    display: block;
}

.row-faq h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.faq_btn {
     color: #333;
    font-size: 13px;
    padding-left: 65px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    width: 305px;
    margin: 0px auto;
    display: block;
    letter-spacing: 8px;
}


.faq_btn:after {
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    background: url('../img/faq.png');
    left: 0px;
    top: 50%;
    margin-top: -21px;
    }

.faq_btn span {
    font-size: 18px;
    letter-spacing: 0px;
    border-bottom: 1px solid #333;
}

.faq {
    margin-top: 20px;
}

.row-team1 {
    display: block;
    padding: 0;
    background: #292a2d;
}

.sp-cont {
    background: #fff;
    float: left;
}

.sp-left {
    float: left;
    width: 32%;
    height: 485px;
    background: url(../img/kuz-bg.jpg) center top;
    background-size: cover;
}

.sp {
    float: right;
    width: 68%;
    position: relative;
    padding: 35px 40px 35px 40px;
}

.sp .sign {
    position: absolute;
    right: 90px;
    bottom: 47px;
}

.sp h3 {
    margin-top: 0px;
}

.sp p {
    margin-top: 20px;
}

.team-slider h2 {
    color: #fff;
    margin-top: 100px;
    margin-bottom: 70px;
}


/* .team-slider .swiper-slide img {
    height: 350px;
    display: block;
    margin: 0px auto;
} */

.teamName {
    position: absolute;
    bottom: 30px;
    left: 50%;
    right: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background: url(../img/kuzmin_label.png);
    width: 268px;
    height: 80px;
    margin-left: -134px;
    padding-top: 15px;
}


.teamName span {
font-size: 14px;
font-weight: 400;
}

.team-slider .slider_cont {
    position: relative;
    overflow-y: hidden;
}


.team-slider .slider_cont:before {
    content: '';
    position: absolute;
    width: 480px;
    height: 480px;
    background: #323338;
    left: 50%;
    margin-left: -240px;
    bottom: -180px;
    border-radius: 240px;
}


.slider2:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 2;
background: rgb(41,42,45);
background: -moz-linear-gradient(90deg, rgba(41,42,45,0) 0%, rgba(41,42,45,1) 50%, rgba(41,42,45,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(41,42,45,0) 0%, rgba(41,42,45,1) 50%, rgba(41,42,45,1) 100%);
background: linear-gradient(90deg, rgba(41,42,45,0) 0%, rgba(41,42,45,1) 50%, rgba(41,42,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#292a2d",endColorstr="#292a2d",GradientType=1);
}


.slider2:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 2;
background: rgb(41,42,45);
background: -moz-linear-gradient(90deg, rgba(41,42,45,1) 0%, rgba(41,42,45,1) 50%, rgba(41,42,45,0) 100%);
background: -webkit-linear-gradient(90deg, rgba(41,42,45,1) 0%, rgba(41,42,45,1) 50%, rgba(41,42,45,0) 100%);
background: linear-gradient(90deg, rgba(41,42,45,1) 0%, rgba(41,42,45,1) 50%, rgba(41,42,45,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#292a2d",endColorstr="#292a2d",GradientType=1);
}







.revBox img {
    margin: 0px auto;
    display: block;
    box-shadow: 0px 10px 15px #14629e4d;
    margin-bottom: 33px;
    margin-top: 15px;
    border: 5px solid #333;
}





.row-team {
    padding: 50px 0px 70px;
    display: none;
    background: #fff;
}

.row-team h2 {
    margin-bottom: 50px;
}

.team_col {
    text-align: center;
}

.team_col img {
margin: 0px auto 15px;
display: block;
    box-shadow: 0px 18px 30px -10px #10406533;
    border-radius: 200px;
}


.team_col img:hover {
    box-shadow: 0px 0px 0px 0px #10406533;
}





.team_p1 {
font-weight: 600;
font-size: 16px;
}

.team_p2 {

}

.speech h3 {
    margin-top: 0px;
}

.speech p {
    margin-top: 20px;
}



.article-preview {
    background-size: cover;
    padding: 25px 20px;
    margin-top: 40px;
}

.article-preview p {
    min-height: 140px;
    font-size: 20px;
    font-weight: 500;
    color: #fff!important;
}

.article-preview a {
    font-size: 16px;
    font-weight: normal;
    color: #fff!important;
}

.row-articles .faq_btn {
    margin-top: 50px;
    width: 235px;
    text-decoration: none;
    color: #333!important;
}

.row-articles {
    padding-top: 50px;
    padding-bottom: 30px;
}




.row-footer {
    padding: 100px 0px 100px;
}

.row-footer h2 {
    margin-top: 0;
    margin-bottom: 50px;
}

.footer_item img {
    margin: 0px auto 20px;
    display: block;
    width: 80px;
}

.footer_item p {
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0;
}

.footer_item span {
    font-weight: 600;
}

.footer_item a {
    color: #333;
    text-decoration: underline;
}

.row-foot {
    padding: 10px 0px;
}

.foot_p {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
}

.foot_p_blue {
    color: #3099e9;
    cursor: pointer;
}



.foot_p_blue:hover {
    text-decoration: underline;
}



.foot_p2 {

    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

#map {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#map:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

#map .btn_top {
    float: none;
    margin: 0px auto 40px;
    display: block;
    width: 300px;
    font-size: 16px;
    padding: 20px;
}










@media (max-width: 1199px) {
    .top_desc {
        display: none;
    }

    .top_mail {
        padding: 6px 0px 6px 30px;
    }

    .cont1_1:before {
        left: 630px;
    }

    .ne_nashli {
        padding: 20px 10px;
    }

    .ne_nashli_btn {
        padding: 9px 30px;
    }

    h1 {
        font-size: 35px;    
    }


    .first_desc {
        font-size: 17px;
    }


    h2 {
        font-size: 20px;
    }

    .care_p1 {
        font-size: 20px;
    }


    .more_info1 {
        width: 100%;
    }

    .s_block p {
        font-size: 14px;
    }

    .article-preview p {
        min-height: 120px;
        font-size: 16px;
    }
    .sp-left {
        height: 595px;
    }

    .sp .sign {
        position: absolute;
        right: 70px;
        bottom: 137px;
        width: 150px;
    }


    .sp .btn_top {
        margin-top: 60px;
    }







}









@media (max-width: 992px) {

    .top_desc {
        display: none;
    }

    .cont1_1:before {
        display: none;
    }

    .glav_sert {
        display: none;
    }

    .phone_online, .phone_number a, .phone_perezvon {
        color: #333!important;
    }

    .open_img {
        display: none;
    }

    .more_info1 {
        padding: 25px 10px;
    }

    .more_info1 h3 {
        margin-top: 0px;
    }

    .ne_nashli {
        padding: 20px 20px;
    }

    .ne_nashli_form {
        padding-left: 0px;
        padding-right: 0px;
    }


    .nn_btn_cont {
        margin-top: 15px;
        min-height: 45px;
    }

    .ne_nashli_btn {
        width: 100%;
    }

    .ne_nashli:before {
        opacity: 0.5;
    }

    .c2_h {
        margin-top: 36px;
    }

    .team_col img {
        width: 80%;
    }

    .team_p1, .team_p2 {
        font-size: 12px;
    }

    .speech {
        text-align: center;
        margin-top: 50px;
    }













    .modal-body-img {
        background-image: url(../img/price_left_tr.png);
    }

    .modal-body {
        text-align: center;
    }

    #modalPrice .modal-body {
        text-align: left;
    }

    .modal_input {
        float: none;
    }

    .modal-body .btn_top {
        float: none;
        margin: 20px auto 0px;
        width: 300px;
    }


    .row3 {
        padding: 50px 0px 50px;
    }



    .sp h3 {
        margin-top: 0px;
        font-size: 24px;
    }










}






@media (max-width: 767px) {

    /* .container {
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }


    .serviceMenu {
        display: none;
    } */

    .top_mail {
        display: none;
    }

    h1 {
        padding-right: 0px;
        text-align: center;
    }

    .first_desc {
        text-align: center;
    }

    .utp {
        text-align: center;
    }

    .btn_top {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    .more_info1 {
        text-align: center;
    }

    .more_info1 .col-sm-4 {
        width: 50%;
        float: left;
    }

    .more_info1 .btn_top {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }

    .btn_transparent {
        float: none;
    }

    .ne_nashli {
        max-width: 410px;
        text-align: center;
        margin: 0px auto;
    }

    .search_cont {
        max-width: 410px;
        text-align: center;
        margin: 0px auto;
    }

    .team_col {
        margin-bottom: 20px;
    }

    .footer_item {
        margin-bottom: 40px;
    }

    .article-preview {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .team-slider .slider_cont:before {
        display: none;
    }

    .teamName {
        background: rgba(0, 0, 0, 0.32)
    }


    .sp-left {
        width: 100%;
        height: 530px;
    }
    .sp {
        float: right;
        width: 100%;
    }


    .sp .btn_top {
        margin-top: 90px;
    }

}




@media (max-width: 575px) {
    
    .logo {
        width: 124px;
        height: 60px;
    }

    .top_mail {
        display: block;
    }

    .top_mail br {
        display: none;   
    }
        
    .mailLink {
        display: block;
        width: 190px;
        margin: 0px auto;
        float: none;
    }

    .mailLink.mailLink--bottom {
        color: #fff!important;
    }

    .whatsappLink {
        display: block;
        width: 210px;
        margin: 0px auto;
        float: none;
    }

    /* .team-slider .swiper-slide img {
        height: 250px;
    } */

    /* .container {
        width: 420px;
        padding: 0px 20px;
    } */

    .download {
        font-size: 14px;
    }


    .cont1:before {
        display: none;
    }

    .logo {
        float: none;
        margin: 10px auto;
        display: block;
    }

    .top_desc{
        display: none;
    }

    .top_mail {
        width: 100%;
        padding: 0px;
        text-align: center;
    }


    .top_phone {
        width: 100%;
        text-align: center;
        margin: 10px auto 0px;
    }



    h1 {
        font-size: 25px;
        text-align: center;
        padding-right: 0px;
    }

    .first_desc {
        font-size: 16px;
        text-align: center;
    }

    .utp {
        display: inline-block;
        width: 100%;
    }

    .utp img {
        display: inline-block;
    }

    .utp_text {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
        width: 250px;
        text-align: left;
    }

    .utp_text br {
        display: none;
    }

    .btn_top {
            width: 100%;
        font-size: 15px;
        padding: 20px 10px;
    }

    .glav_sert {
        width: 90%;
        margin: 30px 5%;
    }

    .more_info1 h3 {
        font-size: 25px;
    }


    .ne_nashli_p1 {
        font-size: 19px;
    }


    .ne_nashli_btn {
        margin: 12px auto;
        display: block;
    }

    .c2_h {
        font-size: 17px;
        margin-top: 40px;
    }

    .search_input {
        font-size: 14px;
        padding: 20px 50px 20px 20px;
    }


    .search_btn {
        height: 60px;
        width: 60px;
        margin-left: -60px;
        background-size: 25px;
    }

    .row3 {
        padding: 50px 0px 40px;
        background-size: cover;
    }

    .speech h3 {
        margin-top: 40px;
        font-size: 20px;
    }


    .ne_nashli_btn:hover, .ne_nashli_btn:focus, .ne_nashli_btn:active, .ne_nashli_btn:visited {
        margin-top: 15px;
    }

    .faq_btn {
        padding-left: 55px;
        width: 270px;
        letter-spacing: 5px;
    }

    .faq_btn span {
        font-size: 16px;
    }





    .phone_perezvon {
        margin-top: 10px;
    }

    .modal_input {
        width: 100%;
    }

    .modal-body .btn_top {
        width: 100%;
    }

    .modal-body>div {
        padding-left: 0;
        padding-right: 0;
    }

    .team_col img {
        width: 110px;
        margin-top: 20px;
    }

    .sp-left {
        width: 100%;
        height: 310px;
    }

    .sp {

        padding: 20px 10px;
    }

    .sp h3 {
        font-size: 20px;
    }

}






@media (max-width: 456px) {


  /* .container {
    width: 320px;
    padding: 0px 20px;
  } */


    .more_info1 div {
    width: 100%!important;
    }

    .row-team h2 {
        margin-bottom: 20px;
    }

    .team_col {
        margin-bottom: 10px;
        width: 100%!important;
        margin-left: 0px;
        margin-right: 0px;
    }

    .article-preview {
        max-width: 100%;
    }

}


footer {
    padding: 40px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1e242c;
    background-position: left top;
    color: #636a71;
    font-weight: 500;
    font-size: 18px;
}

footer [data-type=address] {
    color: #fff;
}

footer .over_title {
    height: 22px;
}

footer .over_title img {
    max-height: 100%;
}

.footer-bottom {
    padding: 40px 0 0;
}

footer .footer-bottom .bottom-menu li {
    padding-top: 5px;
}

footer .footer-bottom .bottom-menu li:first-child {
    padding-top: 0;
}

footer .footer-bottom .bottom-menu li:last-child {
    padding-bottom: 0;
}

footer .footer-bottom .bottom-menu li a {
    /* color: #636a71;
    font-weight: 500;
    font-size: 18px; */
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

footer .footer-bottom .bottom-menu li a span {
    border-bottom: 1px solid #636a71;
}

footer .footer-bottom .bottom-menu li a:hover span {
    border-color: transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

footer .footer-bottom .data_address a {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

footer .footer-bottom .data_address a[data-type=email] {
    color: #636a71;
}

footer .footer-bottom .data_address a[data-type=email]:hover span {
    border-color: transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

footer .personal a {
    color: #fff;
}

footer .block_button_footer {
    color: #fff;
    border-bottom: 1px solid #40474e;
}

footer .block_button_footer a {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #40474e;
}

footer .block_button_footer a .img {
    width: 45px;
}

footer .block_button_footer a .arrow {
    width: 30px;
}

footer .block_button_footer a .arrow img {
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

footer .block_button_footer a .text {
    word-break: break-word;
}

@media (min-width: 1200px) {
    footer .block_button_footer a .text {
        font-size: 18px;
    }
}


@media (min-width: 1790px) {
    footer .block_button_footer a .text {
        font-size: inherit;
    }
}

footer .block_button_footer a:hover .arrow img {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

footer.bg {
    background-image: url(../img/footer/bg-footer.jpg);
}

footer .title {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

footer .footer-top .feedback_block {
    background-color: transparent;
    background-image: none;
}

footer .footer-top .feedback_block .footer-notice .title {
    font-weight: 400;
    font-size: 18px;
    text-transform: none;
    line-height: 1.2;
}

footer .footer-top .feedback_block .footer-notice .under_title {
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
    color: #636a71;
}

.feedback_block {
    background-color: #1c1e1f;
}

.feedback_block .video-list {
    max-width: 464px;
}

.feedback_block .video-list .h2 {
    color: #fff;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

.feedback-c {
    max-width: 500px;
    margin: -80px;
}

.feedback-c.bg {
    background-image: url(../img/footer/feedback-c.jpg);
    background-repeat: no-repeat;
    background-color: #131416;
    background-position: 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15px 50px 60px;
}

.feedback-c .file-upload {
    position: relative;
    overflow: hidden;
    height: 55px;
    background: transparent;
    /* width: 100%; */
}

.feedback-c .file-upload input[type="file"] {
    display: none;
}

.feedback-c .file-upload label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.feedback-c .file-upload span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.feedback-c .file-upload span i {
    font-style: normal;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-size: 18px;
}

.feedback-c .file-upload span:before {
    content: "";
    background-image: url(../img/footer/clip.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 13px;
    height: 15px;
    display: block;
    margin-right: 10px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 20px;
}

.form-check-input {
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
}

.form-check-input:disabled ~ .form-check-label {
    color: #6c757d
}

.form-check-label {
    margin-bottom: 0
}

.form-check-inline {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 15px;
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 0
}

.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
    color: #28a745
}

.form-check-input.is-valid ~ .valid-feedback, .form-check-input.is-valid ~ .valid-tooltip, .was-validated .form-check-input:valid ~ .valid-feedback, .was-validated .form-check-input:valid ~ .valid-tooltip {
    display: block
}

.form-check-input.is-invalid ~ .form-check-label, .was-validated .form-check-input:invalid ~ .form-check-label {
    color: #dc3545
}

.form-check-input.is-invalid ~ .invalid-feedback, .form-check-input.is-invalid ~ .invalid-tooltip, .was-validated .form-check-input:invalid ~ .invalid-feedback, .was-validated .form-check-input:invalid ~ .invalid-tooltip {
    display: block
}

.form-inline .form-check, input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%
}

.feedback-c button.btn-arrow {
    background-color: #FF0000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    height: 60px;
    width: 190px;
}

.feedback-c button.btn-arrow span:before {
    background: url(../img/footer/arrow-white.png) no-repeat;
}

.btn.btn-arrow {
    width: 230px;
    height: 46px;
    padding: 0;
    border: 0;
    font-size: 18px;
}

.btn.btn-arrow:hover span:before {
    left: -2px;
}

.btn.btn-arrow span {
    position: relative;
    font-weight: 500;
    border: 3px solid red;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn.btn-arrow span:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 7px;
    left: -16px;
    background: url(../img/footer/arrow-red.png) no-repeat;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    top: 50%;
    margin-top: -3px;
}


.text-left {
    text-align: left !important
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none
}

.textcanvas ul:not(.list-unstyled),
.textcanvas ol:not(.list-unstyled) {
    list-style-type: none;
    padding-left: 35px;
}

.textcanvas ul:not(.list-unstyled) li,
.textcanvas ol:not(.list-unstyled) li {
    position: relative;
    color: #000407;
    font-weight: 400;
    font-size: 18px;
}

.textcanvas ul:not(.list-unstyled) li:before,
.textcanvas ol:not(.list-unstyled) li:before {
    content: '';
    background: url(../img/footer/ul.svg) no-repeat left top;
    position: absolute;
    top: 6px;
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-left: -35px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.textcanvas ol:not(.list-unstyled) {
    counter-reset: myCounter;
}

.textcanvas ol:not(.list-unstyled) > li:before {
    counter-increment: myCounter;
    content: counter(myCounter) ".";
    color: rgba(55,140,241,1);
    background: 0 0;
    font-weight: 600;
    font-size: 18px;
    width: auto;
    height: auto;
    top: auto;
}

.textcanvas ul:not(.list-unstyled) li,
.textcanvas ol:not(.list-unstyled) li {
    font-size: 18px;
}

.textcanvas ol:not(.list-unstyled) > li:before {
    font-size: 18px;
}

.expert-card__content ul:not(.list-unstyled) li,
.expert-card__content ul p,
.expert-card__years {
    font-size: 18px;
    line-height: 18px;
    color: #262626;
    margin-bottom: 5px;
}

.news-card__content ul:not(.list-unstyled) li,
.news-card__content ol:not(.list-unstyled) li,
.news-card__content ol:not(.list-unstyled) > li:before {
    font-size: 18px;
}

.img-fluid, .img-thumbnail {
    max-width: 90%;
    height: auto
}

.central-office {
    text-align: left;
}

.footer_subtitle{
    margin-bottom: 10px;
}

.needs-validation {
    padding: 25px 50px;
}

.footer_flag,
.footer_flag .iti.iti--allow-dropdown {
    width: 100%;
}

.footer_inputpopup {
    width: 100%;
}

.footer_popup {
    float: right;
}

.footer_textpopup {
    color: #fff;
}

.bottom-menu-wrapper {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
}

.bottom-menu {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin: 0;
}

.bottom-menu__link {
    height: 40px;
}

.bottom-menu__link,
.bottom-menu__link:hover {
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.footer_list {
    color: #fff;
    list-style-type: none;
}

.footer_link {
    color: #fff;
    text-decoration: underline;
}

.footer_link:hover {
    color: #fff;
    text-decoration: none;
}

.footer_link:visited {
    color: #fff;
}

.footer_link:focus {
    color: #fff;
}

.call_link {
    text-decoration: none;
    font-weight: 400;
}

.call_link:hover {
    text-decoration: none;
    font-weight: 400;
}

.algorithm {
    padding-top: 100px;
}

.algorithm_title {
    margin-top: 0;
}

.algorithm_row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.algorithm_step {
    width: calc(20%);
}

.algorithm_img {
    width: 45%;
}

.algorithm_arrow {
    /* margin: auto 0; */
    margin-top: 20px;
    height: 43px;
    width: 40px;
}

.algorithm_text {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}


.ws-chat .ws-chat-btn-container.ws-chat-btn-mini-hover.ws-chat-btn-round.ws-chat-btn-logo-yes.ws-chat-btn-attach {
    background: rgba(28,153,233,1)!important;
}

.panel-group {
    margin-bottom: 0;
}

.panel-group .panel {
    border-radius: 0;
}

.navbar-top-wrap {
    /* background: rgb(248, 248, 250); */
}

/* .navbar-default {
    background: rgb(248, 248, 250);
} */

.serviceMenu__logo {
    height: 40px;
}

@media (min-width: 768px) {
    .serviceMenu__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .serviceMenu__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .serviceMenu__container .navbar-collapse.collapse {
        width: 100%;
        padding: 0;
    }

    .serviceMenu__container .navbar-collapse.collapse::before,
    .serviceMenu__container .navbar-collapse.collapse::after {
        content: none;
    }

    .nav.navbar-nav.serviceMenu__links::before,
    .nav.navbar-nav.serviceMenu__links::after {
        content: none;
    }
}

.sertification-types-space {
    height: 80px;
    padding: 0;
}

.textcanvas {
    margin-bottom: 50px;
}

.textcanvas_text {
    font-size: 18px;
}

.thanks {
    margin-top: 100px;
    padding-top: 50px;
    background-color: rgb(248, 248, 250);
}

.swiper-button-prev,
.swiper-button-next {
    margin-top: 120px;
    width: 70px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.swiper-button-next {
    left: 100px;
    right: auto;
}

.swiper-button-prev {
    background-image: url('/img/swiper/arrow-left.svg');
}

.swiper-button-next {
    background-image: url('/img/swiper/arrow-right.svg');
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: none;
}

.thanks_text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;    
    /* height: 180px;  */
}

.thanks_customer {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.thanks__title {
    text-align: right;
    padding-right: 20px;
}

.swiper {
    height: 370px;
    padding-bottom: 50px;
}

.thanks_signature {
    font-size: 18px;
}

.thanks_customer__desc {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 0 10px 25px;
}

.thanks_customer__name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.thanks_face {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.breadcrumbs {
    margin-top: 20px;
}

.map {
    height: 518px;
}

.feedback-c.bg {
    width: 500px;
    max-width: 100%;
}

.feedback-c .alert-success {
    color: #fff;
    padding: 10px 26px;
    border-radius: 0;
    background: green;
    border-color: green;
    text-align: center;
    margin-top: 35px;
}

.cbk-window .cbk-form .cbk-button.cbk-button-lg {
    border-radius: 14px!important;
}
